<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Error</h1>
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
      <a href="/" class="btn btn-primary">Volver</a>
    </div>
  </body>
</html>
